# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
* @M1zz @taek0622 @JUNY0110 @Lia316 @rriver2 @skycat0212

